* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #fafcff;
  transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
  background-color: #0e1525;
}

/* NAVBAR */
.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #123456;
  height: 80px;
  color: white;
  gap: 40px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.logo-div {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: max-content;
}
.logo-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.navbar-root .links-buttons {
  display: flex;
  align-items: center;
}
.navbar-root .navbar-links {
  display: flex;
  gap: 45px;
}
.navbar-root .navbar-links li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  position: relative;
}
.nav-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  background-color: #123456;
  border-radius: 5px;
  padding: 17px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.nav-dropdown-menu.show {
  display: block;
  animation: dropdownAnimation 0.3s forwards;
}
@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav-dropdown-menu li {
  margin: 5px 0;
}
.nav-dropdown-menu li a {
  color: white;
  text-decoration: none;
}
.navbar-root .navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.07rem;
  font-weight: 500;
}
.navbar-root button {
  margin-left: 20px;
  background-color: #6a5acd;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
}
.theme-toggle {
  margin-left: 10px;
  background-color: #6a5acd;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: 20px;
}
.hamburger .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s ease;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.navbar-links.active {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* HERO */
.hero {
  height: 100%;
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
  width: 73%;
  margin: auto;
}
.hero-images-div img {
  width: 357px;
  border: 6px solid #6a5acd;
  border-radius: 30px;
  transition: border-color 0.3s;
}

body.dark-mode .hero-images-div img {
  border-color: red;
}

.hero-images-div .second-image {
  position: relative;
  top: -209px;
  left: 197px;
  width: 240px;
}
.hero-texts-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: normal;
}

.hero-texts-div .headings-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 25px;
}
.hero-texts-div .headings-div h2 {
  font-size: 3rem;
  font-weight: 1000;
  color: #0d213f;
  transition: color 0.3s;
}

body.dark-mode .hero-texts-div .headings-div h2 {
  color: white;
}


.hero-texts-div .headings-div .changing-heading {
  color: #6a5acd;
}

body.dark-mode .hero-texts-div .headings-div .changing-heading{
  color: red;
}

/* for cursor of the typewritter effect */
.typed-cursor{
  color: #0d213f;
}

body.dark-mode .typed-cursor{
  color: white;
}

.hero-texts-div-paragraph {
  text-align: center;
  width: 70%;
  color: #0d213f;
  transition: color 0.3s;
}

body.dark-mode .hero-texts-div-paragraph{
  color: white;
}

.hero-texts-button-div {
  display: flex;
  gap: 7px;
  margin-top: 20px;
  justify-content: center;
  width: 70%;
  color: white;
}
.hero-texts-button-div button {
  background-color: #6a5acd;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 1.07rem;
  font-weight: 500;
}
.circle-image-div {
  display: flex;
  align-items: center;
  width: 70%;
  margin-top: 27px;
  flex-direction: column;
}
.hero-circle-image {
  width: 55px;
  height: 55px;
  border-radius: 100px;
}
.circle-image-div .material-icons {
  background-color: white;
  color: red;
  position: relative;
  top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About section  */
.about {
  height: 100%;
  padding-top: 110px;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background: linear-gradient(135deg, #90b7f6, #d6edf7);
  padding: 32px 15px;
  border-radius: 10px;
}
.about-heading {
  font-size: 3rem;
  font-weight: 1000;
  color: #0d213f;
}
.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
iframe {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 400px;
  border: none;
  border-radius: 10px;
}
.about-content {
  background-color: white;
  color: #0d213f;
  padding: 13px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.about-items-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 9px;
}
.about-item {
  width: 26vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5em 1px;
  margin: 0px 10px;
  font-size: 16px;
  border-width: 0.5px;
  border: none;
  border-radius: 0.5em;
  background: linear-gradient(white, rgb(153, 139, 251));
  border-bottom: 10px solid #40349c;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.about-item i {
  color: #06006e;
  font-size: 3.5em;
  text-align: center;
  font-weight: 600;
}
.about-item-number {
  color: #32316a;
  display: grid;
  place-items: center;
  font-size: 3em;
  font-weight: 700;
}
.about-item-text {
  color: #6c2121;
  font-size: 1.2em;
  text-align: center;
  padding: 0em 00em;
  font-weight: 400;
  margin-bottom: 1em;
  line-height: 1;
}

/* Destination section */
.destination {
  height: 100%;
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Destination carousel */
.collection {
  height: 67vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection .content {
  height: 30rem;
  width: 20rem;
  border-radius: 20px;
  overflow: hidden;
  border: 6px solid #6a5acd;
}
.content img {
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}
.content:not(.swiper-slide-active) {
  filter: blur(5px);
}
.text-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background: rgba(0, 0, 0, 0.5); */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.text-content p {
  text-align: center;
}
.swiper-slide-active:hover .text-content {
  opacity: 1;
}
.content:not(.swiper-slide-active):hover .text-content {
  opacity: 1;
  filter: blur(5px);
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 4rem;
  font-weight: lighter;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: red;
}
.swiper-button-next {
  right: 70px;
}
.swiper-button-prev {
  left: 70px;
}

.destination-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.destination-texts h2 {
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 34px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.destination-texts p {
  font-size: 1rem;
  color: #0d213f;
}

/* Media Queries */

/* Extra small devices (phones, portrait phones) */
@media (max-width: 575px) {
  .navbar-root {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .logo-div {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .navbar-root .links-buttons {
    flex-direction: column;
    gap: 10px;
  }
  .navbar-root .navbar-links {
    flex-direction: column;
    gap: 10px;
  }
  .hero {
    flex-direction: column;
    padding-top: 100px;
    width: 90%;
  }
  .hero-images-div img {
    width: 100%;
  }
  .hero-images-div .second-image {
    top: -150px;
    left: 0;
    width: 60%;
  }
  .hero-texts-div {
    align-items: center;
  }
  .hero-texts-div .headings-div {
    align-items: center;
    padding-right: 0;
  }
  .hero-texts-div .headings-div h2 {
    font-size: 2rem;
  }
  .hero-texts-div-paragraph {
    width: 100%;
  }
  .hero-texts-button-div {
    width: 100%;
  }
  .circle-image-div {
    width: 100%;
  }
  .about-container {
    width: 90%;
  }
  .about-items-container {
    flex-direction: column;
    gap: 20px;
  }
  .about-item {
    width: 100%;
    height: auto;
  }
  .collection {
    width: 100%;
  }
  .collection .content {
    width: 100%;
    height: auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 2rem;
    right: 10px;
    left: 10px;
  }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767px) {
  .navbar-root {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .logo-div {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .navbar-root .links-buttons {
    flex-direction: column;
    gap: 10px;
  }
  .navbar-root .navbar-links {
    flex-direction: column;
    gap: 10px;
  }
  .hero {
    flex-direction: column;
    padding-top: 100px;
    width: 90%;
  }
  .hero-images-div img {
    width: 100%;
  }
  .hero-images-div .second-image {
    top: -150px;
    left: 0;
    width: 60%;
  }
  .hero-texts-div {
    align-items: center;
  }
  .hero-texts-div .headings-div {
    align-items: center;
    padding-right: 0;
  }
  .hero-texts-div .headings-div h2 {
    font-size: 2.5rem;
  }
  .hero-texts-div-paragraph {
    width: 100%;
  }
  .hero-texts-button-div {
    width: 100%;
  }
  .circle-image-div {
    width: 100%;
  }
  .about-container {
    width: 90%;
  }
  .about-items-container {
    flex-direction: column;
    gap: 20px;
  }
  .about-item {
    width: 100%;
    height: auto;
  }
  .collection {
    width: 100%;
  }
  .collection .content {
    width: 100%;
    height: auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 2rem;
    right: 10px;
    left: 10px;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-root {
    padding: 0 15px;
  }
  .logo-div {
    margin-right: 10px;
  }
  .navbar-root .links-buttons {
    gap: 15px;
  }
  .navbar-root .navbar-links {
    gap: 30px;
  }
  .hero {
    width: 80%;
  }
  .hero-images-div img {
    width: 80%;
  }
  .hero-images-div .second-image {
    top: -150px;
    left: 0;
    width: 50%;
  }
  .hero-texts-div .headings-div h2 {
    font-size: 3rem;
  }
  .hero-texts-div-paragraph {
    width: 100%;
  }
  .hero-texts-button-div {
    width: 100%;
  }
  .circle-image-div {
    width: 100%;
  }
  .about-container {
    width: 90%;
  }
  .about-items-container {
    flex-direction: row;
    gap: 10px;
  }
  .about-item {
    width: 45%;
    height: auto;
  }
  .collection {
    width: 100%;
  }
  .collection .content {
    width: 100%;
    height: auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 3rem;
    right: 20px;
    left: 20px;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-root {
    padding: 0 20px;
  }
  .logo-div {
    margin-right: 15px;
  }
  .navbar-root .links-buttons {
    gap: 20px;
  }
  .navbar-root .navbar-links {
    gap: 40px;
  }
  .hero {
    width: 73%;
  }
  .hero-images-div img {
    width: 357px;
  }
  .hero-images-div .second-image {
    top: -209px;
    left: 197px;
    width: 240px;
  }
  .hero-texts-div .headings-div h2 {
    font-size: 3.5rem;
  }
  .hero-texts-div-paragraph {
    width: 70%;
  }
  .hero-texts-button-div {
    width: 70%;
  }
  .circle-image-div {
    width: 70%;
  }
  .about-container {
    width: 70%;
  }
  .about-items-container {
    flex-direction: row;
    gap: 10px;
  }
  .about-item {
    width: 26vmin;
    height: 28vmin;
  }
  .collection {
    width: 80%;
  }
  .collection .content {
    width: 20rem;
    height: 30rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 4rem;
    right: 70px;
    left: 70px;
  }
}